/* Add Popup cover with the close button and centered form and faded background  image*/
@tailwind base;
@tailwind components;
@tailwind utilities;


.iso-popup-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-inner {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  height: 75%;
  height: 100%;

  @media (min-width: 768px) {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 6rem;
  }

  @media (min-width: 1024px) {}

}

.popup-content {
  display: flex;
  position: relative;
  padding: 0.75rem;
  padding: 1rem;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}



@media screen and (min-width: 768px) {
  .popup-title {
    font-size: 3.875rem !important;
    line-height: 5.25rem !important;
  }

}

@media screen and (max-width: 32rem) {
  .popup-title {
    font-size: 1.875rem;
    line-height: 1å.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }

  .popup-content {
    padding: .1rem !important
  }
/* .money-cta{
  margin-top: 2rem;
  z-index: 70000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

} */
  .red-pop {
    text-align: center !important;
    color: #F87171 !important;

  }

  .popup-inner {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }

  .money-cta {
    padding: 0.4rem !important;
  }

  .ltitle {
    text-align: left !important;
    text-decoration: underline;
    text-decoration-color: #7c2d12;
  }

  .signUp {
    text-decoration: underline;
    text-decoration-color: #7c2d12;
  }
}


.red-pop {
  text-align: center !important;
  color: #F87171 !important;
}

.ltitle {
  text-align: right;
  text-decoration: underline;
  text-decoration-color: #7c2d12;
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


.po-started-btn {
  display: flex;
  padding-top: 1.25rem;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.po-btn-link {
  padding: 0.75rem;
  background-color: hwb(32 2% 14%);
  color: #ffffff;
  font-size: 1.875rem;
  line-height: 2.25rem;
  border-radius: 0.5rem;

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.po-loader-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#po-loader-cover-container {
  position: fixed;
  top: 0;
  z-index: 9999;
}

.po-loader {

  border: 8px solid #f3f3f3;
  /* Light grey */
  border-top: 8x solid hwb(32 2% 14%);
  /* yellow */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: heartbeat 3s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
}


#moneys-cta {
  position: fixed;
  top: 0;
  background-color: #F3F4F6;
  --bg-opacity: 0.75;
  width: 100vw;
  height: 100vh;
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background:hwb(32 2% 14%);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  10% {
    -webkit-transform: scale(.91);
    transform: scale(.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  17% {
    -webkit-transform: scale(.98);
    transform: scale(.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  33% {
    -webkit-transform: scale(.87);
    transform: scale(.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both
}

.vibrate-1 {
  -webkit-animation: vibrate-1 .3s linear infinite both;
  animation: vibrate-1 .3s linear infinite both
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}